* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29uY2VydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.2);
}

.drum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	height: 100px;
	width: 100px;
	color: white;
	border: 2px solid #EC3660;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	font-family: 'Dancing Script', cursive;
}

.drum kbd{
	font-size: 3em;
}
.drum span{
	color: #EC3660;
	font-size: 1em;
}

.drum:hover{
	transform: scale(1.07);
}

.playing {
	transform: scale(1.2) !important;  /*to override the scale from hover*/
	border: 2px solid #EC3660;
	box-shadow: 0px 0px 20px 5px #EC3660;
}