/* Add a blue background color to the top navigation */
.topnav {
  background-color: #C7F2F2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #006D00;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00A8A8;
  color: white;
}

.box {
  background-color: #72D4D4;
  margin-top: ;
  padding: 30px;
  border: 2px dotted olivedrab;
  text-align: center;
  font-size: 2rem;
}
h2 {text-decoration: underline;
  color: lemonchiffon;
}

p {
  font-family: 'Architects Daughter', cursive;
  color: lightslategrey;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 3px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: static;
  margin-bottom: 0;
 background-color: #B3EEAA;
  padding: 10px;
}